.navegacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-size: 2.6rem;
    font-weight: 700;
}

.login {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    color: var(--azul);
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 0.25rem;
}

.login svg {
    font-size: 5rem;
}

.login:hover {
    cursor: pointer;
    opacity: 0.65;
}

.bolso {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    cursor: pointer;

    position: relative;
    color: var(--amarillo);
    font-size: 4.5rem;
}

.bolso .numero {
    margin-top: 1.4rem;
    position: absolute;
    font-size: 2rem;
    color: var(--blanco);
}

.menu {
    display: flex;
    align-items: center;
    gap: 4rem;

    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 0.25rem;
}

.menu li a:hover {
    color: var(--azul);
}

.menu li .activo {
    color: var(--rojo);
}

.menu li .activo:hover {
    color: var(--rojo);
}
